<%- include("partials/header") -%>
<div class="container">
  <h1>Home</h1>
  <p><%= Homecontent_ %></p>
  
  <% posts.forEach((post)=>{ %>
  <h1><%= post.title %></h1>
  <p><%= post.content.substring(0, 99) + "..." %> <a href="/posts/<%= post.title%>">read more</a></p>


  <% }) %>
</div>

<%- include("partials/footer") -%>
